/* .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: rgba(22, 22, 22, 0.945);
  font-family: "Funnel Display", "Courier New", Courier, monospace;
  align-self: flex-start;
  padding: 10px;
}

.card {
  position: relative;

  transition: transform 0.1s ease, box-shadow 0.3s ease;
}
.card img {
  max-width: 130px;
}
.card.selected {

  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(111, 71, 255, 0.9);
}
.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 20px 20px rgba(111, 71, 255, 0.9);
}
.card.selected:hover {
  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(111, 71, 255, 0.9);
}

.card button {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .card img {
    width: 100%;
  }
} */

.card-container {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  background-color: rgba(22, 22, 22, 0.945);
  font-family: "Funnel Display", "Courier New", Courier, monospace;
  align-self: flex-start;
  padding: 3px;
}

.card {
  max-width: 150px;
  border: 3px solid var(--color-light);
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.card.selected {
  border: 3px solid var(--color-primary);
}

.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(111, 71, 255, 0.9);
}
.deck-grid {
  display: flex;
  flex-direction: column;
}
.deck {
  flex: 1;
  background-color: #262c36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
