.container {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 0.5rem);
}

.top {
  text-align: center;
}

.middle {
  flex: 1;
  display: flexbox;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.bottom {
  text-align: center;
}

.centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-dark);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}

.center {
  text-align: center;
}

.h-100 {
  height: 100%;
}
.gap-25 {
  gap: 0.25rem;
}

/* GAME */
.game-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.25rem;
  gap: 0.25rem;
  height: 100%;
}
