.primary {
  color: var(--color-primary);
}
.secondary {
  color: var(--color-secondary);
}
.danger {
  color: var(--color-danger);
}
.dark {
  color: var(--color-dark);
}
.light {
  color: var(--color-light);
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-danger {
  background-color: var(--color-danger);
}
.bg-dark {
  background-color: var(--color-dark);
}
.bg-light {
  background-color: var(--color-light);
}
