@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(36, 36, 36);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-mono: "Geist Mono", "Courier New", Courier, monospace;
  --font-sans: "Funnel Display", Arial, Helvetica, sans-serif;

  --color-primary: rgb(111, 71, 255);
  --color-secondary: rgb(71, 255, 80);

  --color-danger: rgb(255, 114, 114);
  --color-light: rgb(226, 226, 226);
  --color-warning: rgb(255, 255, 126);
  --color-pink: rgb(255, 125, 255);
  --color-dark: rgb(41, 41, 41);

  --color-light-border: rgb(226, 226, 226);
  --color-dark-border: rgb(92, 92, 92);

  --color-light-disabled: rgba(226, 226, 226, 0.5);
}

a {
  color: var(--color-light);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(83, 83, 83, 0.75),
    rgba(0, 0, 0, 0)
  );
}

button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: var(--color-primary);
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px #21618c, 0 10px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  margin-bottom: 5px;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 2px #21618c, 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* button {
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1rem;
  text-align: center;

  border-radius: 0;
  outline: 1px solid transparent;
  transition: background-color 0.1s ease, color 0.1s ease;
} */

/* button {
  background-color: transparent;
  color: var(--color-light);
  border: 1px solid var(--color-dark);
  width: 100%;
  background-color: var(--color-dark);
} */

button:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

button:disabled {
  background-color: var(--color-dark);
  color: var(--color-light-disabled);
  border-color: var(--color-dark);
  cursor: not-allowed;
}
button.active {
  background-color: var(--color-primary);
}

/* FOO */
.footer-buttons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

/* NAV */
.top nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 0.25rem;
}
.top nav a {
  background-color: var(--color-dark);
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MESSAGE */

/* STATUS  */
.status-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.25rem;
  margin: 0.25rem;
}
.status-grid span {
  font-family: var(--font-mono);
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--color-dark);
  background-color: var(--color-dark);

  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: center;
}

/* COLORS */

/* BG */
.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
