.map-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  overflow: auto;
}
.place {
  padding: 1rem;
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(92, 92, 92);
  background-color: var(--color-dark);
  box-shadow: 3px 3px 3px rgba(99, 102, 255, 0.5);
}
.place.active {
  background-color: var(--color-primary);
}
.place.visited {
  background-color: var(--color-primary);
  filter: brightness(0.5);
}

.place-content > * {
  color: var(--color-light);
  text-align: center;
}

.place-content.enemy > * {
  color: var(--color-danger);
}

.place-content.treasure > * {
  color: var(--color-secondary);
}

.place-content.boss > * {
  color: var(--color-danger);
}
